* {
    /* *是通配符 */
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color: #fdfdfd;
    color:#2c3e50;
    font-family: 'PingFang SC','Microsoft YaHei', sans-serif;
}

.splash-container {
    display: flex;/*flex布局*/
    flex-direction:column;/* 主轴方向 */
    justify-content:center;/*决定主轴方向*/
    align-items: center;
    height:90vh;
    text-align: center;
}

.avatar-img {
    width:150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);/* x y r（半径）rgba a为透明度 */
    margin-bottom: 25px;

    transition: transform 0.4s ease, box-shadow 0.4s ease;/*平滑切换ease*/
}

.avatar-img:hover {
    transform:translateY(-12px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.splash-container h1 {
    font-size:2.2rem;
    font-weight:400;
    margin-bottom:15px;
    letter-spacing:2px;
}

.splash-container p {
    color: #7f8c8d;
    font-size:1.1rem;
    max-width:400px;
    line-height:1.6;
}

.splash-container .en-subtitle {
    font-size:0.85rem;
    color:#bdc3c7;
    margin-top:5px;
    letter-spacing:1px;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
    height: 10vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size:0.9rem;
    color:#95a5a6;
}